/*Fuente importada*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

:root {/*variables de color*/
  --borde-color: #144fc6;
  --llenado-color: #6ab3f8;
}

* {/*comportamiento elementos*/
  box-sizing: border-box;
}


body {/*css body*/
    background-color: #3494e4;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  
  h1 {/*css titulo*/
    margin: 10px 0 0;
  }
  
  h3 {/*css subtitulo*/
    font-weight: 400;
    margin: 10px 0;
  }
  
  .copa{/*css copa*/
    background-color: #fff;
    border: 4px solid var(--borde-color);
    color: var(--borde-color);
    border-radius: 0 0 40px 40px;
    height: 330px;
    width: 150px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .copa.copa-chica{/*css copa chica*/
    height: 95px;
    width: 50px;
    border-radius: 0 0 15px 15px;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s ease;

  }

  .copa.copa-chica.lleno{/*copa llena*/
    background-color: var(--llenado-color);
    color: #fff;
  }

  .copas{/*copas chicas contenedor*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 280px;
  }

  .restante{/*css parte restante*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;
  }

  .restante span{/*letra de parte restante*/
    font-size: 20px;
    font-weight: bold;
  }

  .restante small{/*letra de parte restante*/
    font-size: 12px;
  }

  .porcentaje{/*letra de parte llenado*/
    background-color: var(--llenado-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    height: 0;
    transition: 0.3s ease;
  }

  .texto{/*css letra */
    text-align: center;
    margin: 0 0 5px;
  }