@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    
}

.galeria{
    box-shadow: 2px 2px 5px rgba(230, 150, 150, 0.606);
    height: 530px;
    width: 500px;
    overflow: hidden;
    border-radius: 5%;
}

.imagenes-contenedor{
    display: flex;
    transform: translateX(0);
    transition: transform 0.5 ease-in-out;
    
}

.btns-contenedor{
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: rgb(248, 172, 172);
    color: black;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 49.5%;
}

.btn:hover{
    opacity: 0.9;
}
.btn:focus{
    outline: none;
}