/*Fuentes importadas*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Comportamiento elemenots*/
* {
  box-sizing: border-box;
}

/*Css body*/
body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

/*Btn magia*/
.magia{
    background-color: #25f9c4;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border: 0;
    border-radius: 3px;
    padding: 12px 20px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    letter-spacing: 2px;
    box-shadow: 0 3px rgba(36, 192, 249, 0.5);
    z-index: 100;
}

.magia:focus{
    outline: none;
}

.magia:active{
    box-shadow: none;
    transform: translateY(2px);
}

/*Css cajas*/
.cajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
    width: 500px;
    position: relative;
    transition: 0.4s ease;
}

.cajas.xxl{
    width: 600px;
    height: 600px;
}

.cajas.xxl .caja {
    transform: rotateZ(360deg);
}

.caja{
    background-image: url('https://j.gifs.com/A3wmNb.gif');
    background-repeat: no-repeat;
    background-size: 500px 500px;
    position: relative;
    height: 125px;
    width: 125px;
    transition: 0.4s ease;
}

.caja::after{
    content: '';
    background-color: #25f9c4;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}

.caja::before{
    content: '';
    background-color: #1fd6a9;
    position: absolute;
    bottom: -15px;
    left: 8px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}